body {
    /*padding-top: 52px;*/
}

.dh-row {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: baseline;
    align-content: flex-start;
    align-content: stretch;
}

.dh-row.right {
    align-content: flex-end;
}

.dh-row > * {
    display: flex;
    margin:12px;
}

.content {
    padding: 12px;
}