body {
    /*padding-top: 52px;*/
}

.dh-row {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: baseline;
    align-content: flex-start;
    align-content: stretch;
    /*justify-content: center;*/
}

.dh-row.right {
    align-content: flex-end;
}

.dh-row > * {
    display: flex;
    margin:12px;
    /*flex-shrink: 1;*/
    flex-grow: 1;
}

@media (max-width: 500px) {
    .dh-row {
    flex-direction: column;
    flex-flow: column;
    }
}