<dh-navbar fixed>
  <dh-navitem href="/">Home</dh-navitem>
  <dh-navitem href="https://github.com/nejcmacek/dragonhack2017">GitHub</dh-navitem>
  <dh-navitem href="http://www.dragonhack.si/">DragonHack</dh-navitem>
</dh-navbar>

<section style="background-image: url('http://nejo.si/img/bg/bg-1.jpg')" class="dark custom-frontpage">
  <div class="wrapper">
    <h1 class="site-title">Balur.js</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ullamcorper, est id pharetra elementum, sem nisl consequat
      massa, vel tempus libero lorem vitae justo. Vestibulum ligula lorem, semper id tristique vitae, dictum vitae ipsum.
      Aenean imperdiet dolor vitae sapien imperdiet viverra. Aenean eget nulla quis nunc aliquet sodales. Morbi quis porttitor
      nisi, vel tempus nisi. Nunc arcu mauris, sodales vitae felis hendrerit, mollis commodo nulla. Proin sagittis ipsum
      sit amet vehicula rhoncus. Quisque scelerisque neque quis nisl faucibus, ac rhoncus justo imperdiet.</p>
  </div>
</section>

<dh-tabs [(selectedIndex)]="sel">
  <dh-tab label="Register" [selected]="sel === 0">

    <h2>Sample Form</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ullamcorper, est id pharetra elementum, sem nisl consequat
      massa, vel tempus libero lorem vitae justo. Vestibulum ligula lorem, semper id tristique vitae, dictum vitae ipsum.
      Aenean imperdiet dolor vitae sapien imperdiet viverra. Aenean eget nulla quis nunc aliquet sodales. Morbi quis porttitor
      nisi, vel tempus nisi. Nunc arcu mauris, sodales vitae felis hendrerit, mollis commodo nulla. Proin sagittis ipsum
      sit amet vehicula rhoncus. Quisque scelerisque neque quis nisl faucibus, ac rhoncus justo imperdiet.</p>

    <form action="#">
      <dh-radioset [values]="options"></dh-radioset>
      <dh-input placeholder="Your name here"></dh-input>

      <div class="dh-row">
        <dh-select [values]="selection" placeholder="Select role"></dh-select>
        <dh-checkbox>Agree to our terms?</dh-checkbox>
      </div>

      <div class="dh-row right">
        <dh-button>Submit</dh-button>
      </div>

      <div class="clear"></div>

    </form>

  </dh-tab>
  <dh-tab label="Browse" [selected]="sel === 1">

    <dh-table>
      <thead>
        <tr>
          <th>Animal</th>
          <th>Family</th>
          <th>Leg Count</th>
        </tr>
      </thead>
      <tr>
        <td>Cheetah</td>
        <td>Wild cats</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Fly</td>
        <td>Insects</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Spider</td>
        <td>Arthropods</td>
        <td>8</td>
      </tr>
      <tr>
        <td>Tuna</td>
        <td>Fish</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Lion</td>
        <td>Wild cats</td>
        <td>4</td>
      </tr>
      <tr>
        <td>Tiger</td>
        <td>Wild cats</td>
        <td>4</td>
      </tr>
    </dh-table>

  </dh-tab>
</dh-tabs>

<dh-footer>Copyright &copy; DragonHack</dh-footer>