:host {
    padding: 20px;
    margin: 5px;
    width: 200px;
}

ul {
    padding: 20px;
    margin: 5px;
    font: 15px 'trebuchet MS', 'lucida sans';
    list-style: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.list {
    width: 200px;
}

:host /deep/ li:hover {
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}