:host {
  line-height: 48px;
  height: 48px;
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

:host * {
  pointer-events: none;
}

.content {
  padding-left: 48px;
  padding-right: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float:left;
}

.box {
  position: absolute;
  top: 12px;
  left: -24px;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  transition: all .3s;
  opacity: 0;
}

.cross {
  border: 1px solid;
  left: 12px;
}

:host.checked .tick {
  opacity: 1;
}

:host:not(.checked) .cross {
  opacity: 1;
}

:host:hover.checked .tick {
  animation: pulse alternate infinite .8s;
}
:host:hover:not(.checked) .cross {
  animation: pulse alternate infinite .8s;
}

span, div {
  padding:0px;
  margin:0px;
}

.box-line {
  position: absolute;
  height: 2px;
}

.box-cross-line{
  background-color: #ccc;
  width: 30px;
  top: 11px;
  left: -3px;
}

.box-cross-line-1 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.box-cross-line-2 {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.box-tick-line{
  background-color: #fff;
}

.box-tick-line-1 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 10px;
  top: 14px;
  left: 0.5px;
}

.box-tick-line-2 {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  width: 20px;
  top: 10.5px;
  left: 5px;
}